# ───────────────────────────────
# Dependencies
node_modules/

# ───────────────────────────────
# Expo build artifacts & folders
.expo/
dist/
web-build/
expo-env.d.ts

# ───────────────────────────────
# iOS & Android native credentials
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ───────────────────────────────
# Metro cache
.metro-health-check*

# ───────────────────────────────
# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# ───────────────────────────────
# macOS system files
.DS_Store
*.pem

# ───────────────────────────────
# Environment variables
.env
.env*.local

# ───────────────────────────────
# TypeScript
*.tsbuildinfo